<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="http://code.angularjs.org/1.2.15/angular-route.min.js"></script>
<script src="app.js"></script>
<body ng-app="karaoke">
  <div ng-controller="HomeController">
    <div ng-controller="VoteController">
      <ul>
        <li ng-repeat="song in songs">
          {{ song }}
        </li>
      </ul>
    </div>
    <p>{{ test }}</p>
    <input ng-model="test" type="text"/>
    <button ng-click="songs[test] = test">Add</button>
  </div>
</body>
</html>
